// Break points map
$breakpoints: (
  xs: 375px,
  s: 576px,
  m: 768px,
  m-l: 860px,
  l: 900px,
  xl: 1200px,
  xxl: 1420px,
);

@mixin mq($value) {
  $size: map-get($breakpoints, $value);
  @media (max-width: $size) {
    @content;
  }
}

// Topbar.vue
@mixin linksSize($size) {
  width: $size;
  height: $size;
}

@mixin imgHover() {
  filter: brightness(0.6);
  transform: translate(1px, -4px) rotate(10deg);
}

// HomeView.vue
@mixin profileWidth() {
  width: 250px;
}

@mixin projectBox() {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 300px;
  @include mq(m-l) {
    width: 355px;
    height: 260px;
  }
  @include mq(xs) {
    width: 340px;
    height: 250px;
  }
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: 0.35s;
  &:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  }
}

@mixin imageBox($color) {
  width: 390px;
  height: 70%;
  margin: 5px;
  background-color: $color;
  border-radius: 5px;
  transition: 0.35s;
  @include mq(m-l) {
    width: 345px;
  }
  @include mq(xs) {
    width: 330px;
    height: 68%;
  }
}

@mixin imgInsideRight($width, $height) {
  width: $width;
  height: $height;
  border-radius: 5px 0 0 5px;
  box-shadow: -2.2px 1px 3px rgba(0, 0, 0, 0.12);
}

@mixin imgInsideBottom($width, $height) {
  width: $width;
  height: $height;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px -2.2px 3px rgba(0, 0, 0, 0.2);
}

@mixin infoBox() {
  padding: 10px 20px;
  line-height: 1.5em;
  transition: 0.35s;
  @include mq(m-l) {
    padding: 5px 20px;
  }
  @include mq(xs) {
    padding: 3px 20px;
  }
}

// Copyright.vue
@mixin footerStyle() {
  text-decoration: none;
  color: $color-3;
  font-size: 15px;
  letter-spacing: 1px;
  transition: 0.35s;
  &:hover {
    color: black;
  }
}

// SobreView.vue
@mixin screenPadding() {
  padding: 100px 300px;
  @include mq(xxl) {
    padding: 100px 200px;
  }
  @include mq(xl) {
    padding: 100px 150px;
  }
  @include mq(l) {
    padding: 100px;
  }
  @include mq(m) {
    padding: 50px 60px;
  }
  @include mq(s) {
    padding: 50px 30px;
  }
}

// ContatoView.vue
@mixin labelStyle() {
  font-size: 16px;
  color: $color-4;
}

@mixin userInputs() {
  display: flex;
  flex-direction: column;
  gap: 5px;
  label {
    @include labelStyle();
  }
}

@mixin inputArea() {
  padding: 10px;
  border-radius: 5px;
  transition: 0.35s;
  &:focus {
    outline: none;
  }
}
