// Topbar.vue
@mixin linksSize($size) {
  width: $size;
  height: $size;
}

@mixin imgHover() {
  filter: brightness(0.6);
  transform: translate(1px, -4px) rotate(10deg);
}

// HomeView.vue
@mixin profileWidth() {
  width: 250px;
}
