@import "./_variables.scss";
@import "./mixin.scss";

main {
  background-color: white;
  height: 550px;
  box-shadow: 0px 1px 4px rgba(0 0 0 / 0.14);
  .profile {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    max-width: 900px;
    margin: auto;
    .profilebox {
      display: flex;
      align-items: center;
      @include mq(l) {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
      }
      .profile__greetings {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: center;
        @include profileWidth();
        margin-right: -20px;
        @include mq(l) {
          margin: 0;
        }
        .profile--large {
          font-size: 2.5em;
          font-weight: 900;
          color: $color-5;
        }
        .profile--medium {
          font-size: 2em;
          font-weight: 600;
        }
      }
      .profile__pic {
        text-align: center;
        width: 300px;
        margin: 0 20px;
        img {
          width: 280px;
        }
      }
      .profile__info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: center;
        @include profileWidth();
        h2 {
          font-size: 1.8em;
          font-weight: 900;
          text-transform: lowercase;
        }
        p {
          color: $color-3;
          font-size: 1.2em;
          font-weight: 400;
        }
      }
    }
  }
}
