@import "./_variables.scss";
@import "./mixin.scss";

.introduction {
  @include screenPadding();
  background-color: white;
  box-shadow: 0px 1px 4px rgba(0 0 0 / 0.14);
  .introduction__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    h1 {
      font-size: 5rem;
      font-weight: 900;
      color: $color-4;
      @include mq(m) {
        font-size: 4rem;
      }
      @include mq(s) {
        font-size: 3.5rem;
      }
    }
    h2 {
      max-width: 625px;
      font-size: 26px;
      font-weight: 400;
      color: $color-3;
      @include mq(m) {
        font-size: 22px;
      }
      @include mq(s) {
        font-size: 18px;
      }
    }
    p {
      font-size: 20px;
      font-weight: 400;
      line-height: 2rem;
      color: $color-4;
      @include mq(m) {
        font-size: 17px;
      }
    }
    .introduction__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 400px;
      .introduction__links {
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: 0.35s;
        &:hover {
          opacity: 0.7;
        }
        img {
          width: 50px;
        }
        p {
          font-size: 14px;
          font-weight: 600;
          padding: 10px;
        }
        .introduction--linkedin {
          color: #1686b0;
        }
        .introduction--instagram {
          color: #ca284a;
        }
      }
    }
  }
}

.emailbox {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  padding: 100px 0 100px 300px;
  gap: 20px;
  @include mq(xxl) {
    max-width: 800px;
    padding: 100px 0 100px 200px;
  }
  @include mq(xl) {
    max-width: 750px;
    padding: 100px 0 100px 150px;
  }
  @include mq(l) {
    max-width: 700px;
    padding: 100px 0 100px 80px;
  }
  @include mq(m) {
    padding: 50px 50px 50px 50px;
  }
  @include mq(s) {
    padding: 50px 20px;
  }
  .email__title {
    h1 {
      font-size: 2rem;
      font-weight: 300;
    }
  }
  .email__inputs {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    .input__user {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .user__inputs {
        @include userInputs();
        input {
          height: 45px;
          @include inputArea();
          font-size: 18px;
          color: $color-4;
        }
      }
    }
    .input__textarea {
      @include userInputs();
      textarea {
        @include inputArea();
        resize: none;
        height: 135px;
        transition: 0.35s;
        font-size: 18px;
        color: $color-4;
      }
    }
  }

  input[type="submit"] {
    width: 135px;
    padding: 14px;
    background-color: $color-4;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    transition: 0.2s;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
    &:active {
      opacity: 1;
      filter: brightness(0.5);
    }
  }

  .email__success {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border: 1px solid rgb(160, 205, 119);
    border-radius: 3px;
    background-color: rgb(238, 254, 227);
    color: rgb(8, 97, 0);
    p {
      text-align: center;
      padding: 18px;
    }
  }
  .email__error {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border: 1px solid rgb(223, 154, 154);
    border-radius: 3px;
    background-color: rgb(250, 238, 238);
    color: rgb(154, 0, 0);
    p {
      text-align: center;
      padding: 18px;
    }
  }
}

.input--null {
  border: 1px solid rgba(0 0 0 / 0.2);
  box-shadow: inset 0px 1px 2px rgba(0 0 0 / 0.12);
  &:focus {
    box-shadow: 1px 1px 4px rgba(0 0 0 / 0.2);
  }
  &::placeholder {
    font-size: 14px;
  }
}
.input--error {
  border: 1px solid rgb(223, 154, 154);
  box-shadow: inset 0px 1px 2px rgba(0 0 0 / 0.12);
  &:focus {
    box-shadow: 0px 1px 6px rgba(118, 0, 0, 0.4);
  }
  &::placeholder {
    font-size: 15px;
    font-weight: 500;
    color: rgb(137, 0, 0);
  }
}
