@import "./_variables.scss";
@import "./mixin.scss";

main {
  position: relative;
  z-index: 1;
  box-shadow: 0px 1px 4px rgba(0 0 0 / 0.14);
  .profile {
    display: flex;
    justify-content: space-evenly;
    height: 550px;
    width: 100%;
    margin: auto;
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0 0 0 / 0.14);
    .profilebox {
      display: flex;
      align-items: center;
      @include mq(l) {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
      }
      .profile__greetings {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: center;
        @include profileWidth();
        margin-right: -20px;
        @include mq(l) {
          margin: 0;
        }
        .profile--large {
          font-size: 2.5em;
          font-weight: 900;
          color: $color-5;
        }
        .profile--medium {
          font-size: 2em;
          font-weight: 600;
          color: $color-5;
        }
      }
      .profile__pic {
        text-align: center;
        width: 300px;
        margin: 0 20px;
        .hovered {
          transform: scale(1.06);
        }
        img {
          width: 280px;
          cursor: pointer;
          transition: transform 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
        }
      }
      .profile__info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: center;
        @include profileWidth();
        h2 {
          font-size: 1.8em;
          font-weight: 900;
          text-transform: lowercase;
          color: $color-5;
        }
        p {
          color: $color-3;
          font-size: 1.2em;
          font-weight: 400;
        }
      }
    }
  }
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px 0;
    .projects__titlebox {
      display: flex;
      align-items: center;
      width: 90%;
      .projects__title {
        min-width: 350px;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: $color-3;
      }
      .projects--title {
        background: rgba(0, 0, 0, 0.121);
        height: 0.5px;
        width: 100%;
      }
    }
    .projectsbox {
      .projects__section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        margin-top: 40px;
        @include mq(m) {
          grid-template-columns: 1fr;
          justify-items: center;
        }
        .projects__content01 {
          @include projectBox();
          .projects__image {
            @include imageBox($img-seafoam);
            display: flex;
            align-items: flex-end;
            justify-content: center;
            img {
              @include imgInside(65%, 90%);
            }
          }
        }
        .projects__content02 {
          @include projectBox();
          .projects__image {
            @include imageBox($img-green);
            display: flex;
            align-items: flex-end;
            justify-content: center;
            img {
              @include imgInside(55%, 80%);
            }
          }
        }
        .projects__info {
          @include infoBox();
          .projects--name {
            font-weight: 600;
            color: $color-5;
          }
          .projects--info {
            font-weight: 300;
            color: $color-3;
          }
        }
      }
    }
  }
}
